@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Merriweather:ital@1&family=Montserrat&family=Quicksand:wght@300;400;500;600;700&family=Roboto&family=Sacramento&display=swap");

nav {
  background-color: rgb(69, 2, 69);
  color: white;
  height: 50px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

.gameContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
  position: relative;
}



.line{
    background-color: red;
    position: absolute;
    width: 0;
    height: 0;
    transition: width 1s ease-in;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box:hover {
  background-color: rgb(213, 187, 237);
  cursor: pointer;
}

.gameInfo {
  padding: 3vw;
  font-family: "Baloo Bhai 2", cursive;
}

.imgbox img {
  width: 0;
  transition: width 1s ease-in;
}

.bl-0 {
  border-left: 0;
}
.br-0 {
  border-right: 0;
}

.bt-0 {
  border-top: 0;
}
.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 18px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #e8d5e8;
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(189, 154, 154);
  font-family: "Baloo Bhai 2", cursive;
}

@media screen and (max-width: 800px) {
    .gameContainer {
      flex-wrap: wrap;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
        font-family: "Roboto", sans-serif;
    }
  }

  .info{
    padding: 0 4vw;
  }
